
PORT= #For exmaple: 3001
DB_RETRY_LIMIT= #For exmaple: 10
DB_RETRY_DELAY_MS= #For exmaple: 2000
DATABASE_URL= #For exmaple: postgres://ft_user:ft_pass@db:5432/ft_transcendence
# Generate a new JWT secret with: openssl rand -hex 32
JWT_SECRET=
BCRYPT_SALT_ROUNDS= #For exmaple: 10
JWT_EXPIRES_IN= #For exmaple: 7d

POSTGRES_DB= #For exmaple: ft_transcendence
POSTGRES_USER= #For exmaple: ft_user
POSTGRES_PASSWORD= #For exmaple: ft_pass

BACKEND_HOST_PORT= #For exmaple: 3001
DB_HOST_PORT= #For exmaple: 5432
NGINX_HOST_PORT= #For exmaple: 8080

API_BASE_URL=http://localhost:3001